<footer>
    <a href="javascript:void(0)" onclick="openModal('about-modal')">About</a><br>
    © 2025 Opinion Development Notebook
</footer>
<div id="about-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal('about-modal')">&times;</span>
        <h2>About</h2>
        <p>
            The Opinion Development Notebook helps you develop well-informed perspectives on issues that matter to you.

            It prompts you to gather facts, explore different interpretations, consider alternative perspectives,
            and reflect on factors that may be influenting your thinking.

            Fill out each section, then download the notebook in PDF format to print it.
        </p>
    </div>
</div>
<script>
    function openModal(id) {
        document.getElementById(id).style.display = "block";
    }
    function closeModal(id) {
        document.getElementById(id).style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target.classList.contains('modal')) {
            event.target.style.display = 'none';
        }
    }
</script>